<!DOCTYPE html>


<html>

<head>
    <title>Google Sign in</title>
    
</head>

<body>
    <div class='main-content'>

        <a href={{googleSignIn}}>Sign in with Google</a>

    </div>
</body>

</html>